---
---

@import "main";
@import "bootstrap/scss/bootstrap";
@import "assets/css/variables.scss";

#page-header {
    padding: 0;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#page-header img {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
    -webkit-filter: brightness(45%);
}

#text-overlay {
    z-index: 3;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.page-content {
    padding:50px;
}

.vpi-scheme {
    background-color: #212121;
    color: #f8f9fa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.toast {
    max-width: 600px !important;
}

#infoparent {
    padding: 10px;
}