<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{"/assets/css/main.css" | relative_url }}">
</head>

<body class="vpi-scheme">
    <main role="main">
        {% if site.info.display %}
        {% include info.html %}
        {% endif %}
        {% include navbar.html %}
        <div id="page-header" class="container-fluid">
            <span id="text-overlay">
                <h2>{{ page.title | upcase }}</h2>
                <p class="small">{{ page.desc }}</p>
            </span>

            <img class="img-fluid" src="{{page.image | relative_url}}" />
        </div>

        <div class="container-fluid page-content">
            <h1 id="committees">Committees</h1>
            <p>The club has many official and non-official committees, some which are maintained all semester and some which arise for a particular event. We encourage everyone, especially prospective members, to join a committee to help make our club run more smoothly so we can have more fun! This is a great way to support the club, get more involved, and get to know us better. Please note that the executive positions are voted on, and the committee chairs are appointed by the president.</p>
            <!-- Iterate through the committees -->
            {% for com in page.committees %}
            <a href="{{ com.contact }}"><h2 id="{{ com.name | slugify }}">{{ com.name }}</h2></a>
            <p>{{ com.desc }}</p>
            <div class="row">
                {% for per in com.members %}
                <div class="col-md">
                    <figure class="figure text-center" style="width:100%">
                        {% if per.img %}
                        <img class="figure-img img-fluid rounded" src="{{ per.img | relative_url }}" width="256px" height="256px">
                        {% else %}
                        <img class="figure-img img-fluid rounded" src="{{ '/assets/img/committees/avatar.png' | relative_url }}" width="256px" height="256px">
                        {% endif %}
                        <figcaption class="figure-caption text-center">
                            {{ per.name }}
                            {% if per.role %}
                            <br />
                            {% if per.contact %}
                            <a href="{{ per.contact }}">{{ per.role }}</a>
                            {% else %}
                            {{ per.role }}
                            {% endif %}
                            {% endif %}
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </main>

    <script src="{{'node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'node_modules/js-cookie/src/js.cookie.js' | prepend: site.baseurl}}"></script>

    {% if site.info.display %}
    <!-- Script for optional toast -->
    <script>
        $(document).ready(function(){
            if (Cookies.get('info-hide') != 'true') {
                $('#infotoast').toast({
                    autohide: false
                })
                $('#infotoast').toast('show')
            } else {
                $('#infoparent').remove()
            }
        })

        $('#infotoast').on('hidden.bs.toast', function () {
            Cookies.set('info-hide', 'true', { expires: 3 })
            $('#infoparent').remove()
        })
    </script>
    {% endif %}
</body>

</html>